.todo-item__row {
    margin-bottom: 30px;
    height: 80px;
    background-color: #9c9999;
}

.todo-item__cell {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
}