.todo-create__container {
  padding: 40px;
}

.todo-create__form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 50px;
}

.todo-create__label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.todo-create__btn {
  display: block;
}

.todo-create__input-error-message {
 position: absolute;
 font-size: 14px;
 color: #ff0000;
 bottom: -35px;
 opacity: 0;

}

.todo-create__input-error-message-show {
  opacity: 1;
 
 }

.todo-create__input-error-border {
  outline: none;
  border-color: #ff0000;
 }
